
{%  extends 'layout.html' %}

{% block content %}
<div class="container">

    <div class="">

        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-danger {{ message.tags }}" role="alert">
                        {{ message }}
                      </div>
                {% endfor %}
            </div>
        {% endif %}

        <h3>Student Registration Form</h3>
        <form action="{% url 'createStudent' %}" method="POST">

            {%  csrf_token %}

            <div class="mb-3">
                <label for="" class="form-label">First Name</label>s
                <input type="text" name="first_name" class="form-control" id="" aria-describedby="">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Last Name</label>
                <input type="text" name="last_name" class="form-control" id="" aria-describedby="">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Age</label>
                <input type="number" name="age" class="form-control" id="" aria-describedby="">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Gender</label>
                <select name="gender" id="" class="form-select">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Department</label>
                <select name="department" id="" class="form-select">
                    <option value="">Select Department</option>
                    <option value="Male">Software Engineering</option>
                    <option value="Female">Mobile App Developer</option>
                    <option value="Female">Data Analysis</option>
                    <option value="Female">Cyber Security</option>
                </select>
              </div>



            <button type="submit" class="btn btn-danger mt-3">Submit</button>
          </form>
    </div>

</div>
{%  endblock content %}