<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>User Information Form</h2>
     <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter your Name" id=""><br><br>
        <input type="text" name="age" placeholder="Enter Age" id=""><br><br>
        <select name="gender" id="" >
            <option value="">Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">Others</option>
        </select><br><br>

        <button type="submit">Submit</button>
     </form>


     
</body>
</html>